/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#cipherfox-panel {
  padding: 0;
  -moz-padding-start: 3px;
  -moz-padding-end: 3px;
  background: url('chrome://cipherfox/skin/arrow-up.png') right center no-repeat;
}

#cipherfox-panel[popupopen] {
  background-image: url('chrome://cipherfox/skin/arrow-up-dis.png');
}

#cipherfox-button {
  margin-top: 2px;
  margin-bottom: 1px;
 -moz-margin-end: 0;
}

#identity-popup-more-info-button {
  margin-top: 2px;
  margin-bottom: 1px;
 -moz-margin-start: 5px;
}

#cipherfox-button .button-menu-dropmarker {
 -moz-appearance: none !important;
 -moz-margin-start: 3px;
  width: 5px;
  height: 3px;
  background: url('chrome://cipherfox/skin/arrow-down.png') right center no-repeat;
}

#cipherfox-button[open] .button-menu-dropmarker {
  background-image: url('chrome://cipherfox/skin/arrow-down-dis.png');
}


#cipherfox-button .dropmarker-icon {
  display: none;
}

#cipherfox-certs {
  text-align: end;
}

#cipherfox-certs menuitem[first],
#cipherfox-button-certs menuitem[first] {
  font-weight: bold;
}
