/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#cipherfox-panel {
  padding: 0 !important;
  margin-top: -1px !important;
  margin-bottom: -2px !important;
 -moz-padding-end: 3px !important;
 -moz-margin-end: 4px !important;
  background: url('chrome://cipherfox/skin/arrow-up.png') right center no-repeat !important;
}

#cipherfox-panel[popupopen] {
  background-image: url('chrome://cipherfox/skin/arrow-up-dis.png') !important;
}

#cipherfox-button {
  margin-top: 2px !important;
  margin-bottom: 1px !important;
 -moz-margin-end: 0 !important;
}

#identity-popup-more-info-button {
  margin-top: 2px !important;
  margin-bottom: 1px !important;
 -moz-margin-start: 5px !important;
}

#cipherfox-button .button-menu-dropmarker {
 -moz-appearance: none !important;
 -moz-margin-start: 3px !important;
  width: 5px !important;
  height: 3px !important;
  background: url('chrome://cipherfox/skin/arrow-down.png') right center no-repeat !important;
}

#cipherfox-button[open] .button-menu-dropmarker {
  background: url('chrome://cipherfox/skin/arrow-down-dis.png') right center no-repeat !important;
}


#cipherfox-button .dropmarker-icon {
  display: none !important;
}

#cipherfox-certs menuitem[cert] {
  text-align: end !important;
}

#cipherfox-certs menuitem[first],
#cipherfox-button-certs menuitem[first] {
  font-weight: bold !important;
}
